.App {
  background-color: #ccc;
  cursor: default;
}

.shelf {
  display: grid;
  grid-template-columns: repeat(50, 1fr);
}

.item {
  width: 12px;
  height: 12px;
  background: #09f;
  border: 1px solid #000;
  margin: 5px;
  display: inline-block;

  &.selected {
    background-color: #f00;
  }
}

.selection-box {
  background-color: rgba(0, 100, 255, 0.7);
  border: 1px solid rgba(0, 100, 255, 1);
  position: absolute;
  display: none;

  &.is-select-mode {
    display: block;
  }
}